@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text-note {
  color: #000000;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.some-page-wrapper {
  margin: 15px;
  background-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.vocab {
  font-size: 20px;
  font-family: "Arial" !important;
  text-align: center;
}

.meaning {
  font-size: 18px;
  font-family: "Times" !important;
  text-align: left;
}

h10{
  font-size: 30px;
  font-family: "GmarketSansMedium";
  text-align: center !important;
}