a.text-primary:hover,
a.text-primary:focus {
  color: #233dd2 !important;
}
/* .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
} */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.some-page-wrapper {
  margin: 15px;
  background-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.vocab {
  font-size: 20px;
  font-family: "Arial" !important;
  text-align: center;
}

.meaning {
  font-size: 18px;
  font-family: "Times" !important;
  text-align: left;
}
